In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import pandas as pd

In [ ]:
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [ ]:
import sys

In [153]:
data = pd.read_csv('val1.csv')
data.head(15)

    Abc  Count  Edpi
0     1    NaN   NaN
1     2    NaN   NaN
2     3    NaN   NaN
3     3    NaN   NaN
4     3    NaN   NaN
5     3    NaN   NaN
6     3    NaN   NaN
7     3    NaN   NaN
8     3    NaN   NaN
9     3    NaN   NaN
10    3    NaN   NaN
11    3    NaN   NaN
12    3    NaN   NaN
13    3    NaN   NaN
14    3    NaN   NaN

In [172]:
data.head(15)

    Abc  Count Edpi
0     1    NaN  NaN
1     2    NaN  NaN
2     3    2.0  251
3     3    3.0  144
4     3    4.0  308
5     3    5.0  251
6     3    6.0  216
7     3    7.0  200
8     3    8.0  226
9     3    9.0  244
10    3   10.0  220
11    3   11.0  228
12    3   12.0  180
13    3   13.0  224
14    3   14.0  172

In [ ]:
data['Abc'][3]

In [154]:
data.shape

(499, 3)

In [117]:
data.iloc[2,0]

3

In [91]:
abc=[]

In [ ]:
for i in range(2,500):
    data['Abc'].append(i)

In [ ]:
for i in range(339,500):
    chrome_options = webdriver.ChromeOptions()
    chrome_options.add_argument('--headless')
    driver = webdriver.Chrome(options=chrome_options)
    driver.set_window_size(1920,1080)
    try:
        wait = WebDriverWait(driver, 10)
        driver.get('https://prosettings.net/valorant-pro-settings-gear-list/')
        element = wait.until(EC.visibility_of_element_located((By.XPATH, '//tr[{}]/td[7]'.format(i))))
        data.iloc[i,1]=i
        data.iloc[i,2]=element.text
        print('Current value is: ',i)
    except:
        print("Oops!", sys.exc_info()[0], "occurred.")
    driver.close()

In [168]:
edpi=data['Edpi'].tolist()

In [171]:
data.dropna(inplace=True,axis=0,how='any')

In [174]:
df1 = data[data.columns[data.columns.str.contains('Edpi')]]

In [176]:
df1.dropna(inplace=True,axis=0,how='any')

C:\Users\shara\AppData\Local\Temp\ipykernel_10072\3463612045.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.dropna(inplace=True,axis=0,how='any')

In [196]:
data['Edpi']=data['Edpi'].str.replace(',','')

In [197]:
data['Edpi']=pd.to_numeric(data['Edpi'])

In [202]:
List1 = [0.9,0.95,1]

In [203]:
data.describe(percentiles=List1)

              Abc       Count         Edpi
count  499.000000  337.000000   336.000000
mean     2.993988  170.000000   280.071429
std      0.100020   97.427751   111.966097
min      1.000000    2.000000    60.000000
50%      3.000000  170.000000   252.000000
90%      3.000000  304.400000   386.000000
95%      3.000000  321.200000   400.000000
100%     3.000000  338.000000  1257.000000
max      3.000000  338.000000  1257.000000

In [159]:
data.to_csv('val2.csv', index=False)